/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------------------------------------------------*/

/* unvisited link */
a:link {
    color: #474747;
}

/* visited link */
a:visited {
    color: #474747;
}

/* mouse over link */
a:hover {
    color: #000;
}

/* selected link */
a:active {
    color: #000;
}

html,body{ 
	height:100%; 
	min-height:100%;
	font-size: 1vw;
	font-family:  arial, sans-serif;
	color: #444;
}

body{
	background: grey;
}

p{
	padding: 0.25em;
}

h1{
	font-size: 2.5em;
	text-align: center;
	padding: 0.25em;
}

h2{
	font-size: 2em;
	text-align: center;
	padding: 0.25em;
}

h3{
	font-size: 1.5m;
	text-align: center;
	padding: 0.25em;
}

img#headshot {
	border-radius: 7em;
	border-style: solid;
	border-width: 0em;
	margin-left: 1em;
	width:13em;
}

aside{
	color: #000;
	font-size: .8em;
	float: left;
	width: 12em;
	background: #93A644;
	height: 100vh;
	min-width: 15em;
}

depreciated header{
	height: 1.8em;
	width: 14.8em;
	background: #90B26B;
	border-style: solid;
	border-width: 0.1em;
	border-radius: 1.8em;
	overflow:hidden;
}

header#main-header{
	margin-left:1em;
}
nav#main-nav{
	line-height: 1.5em;
}
a.nav{
	display:block;
	text-decoration: none;
}
p#short-bio{
	padding:0em;
	padding-right: 0.3em;
}
span#name{
	font-weight:bold;
	font-size: 1.2em;
}

section{
	background:#FFF;
	min-width: 50em;
	width: 80em;
	height: 100vh;
}

.about-sections{
	display: block;
	
}
.aboutHeadings{
	text-align: left;
	font-weight: bold;
}

button.header{
	
	font-size:0.75em;
	height: 2em;
	width: 4em;
	margin: 0.25em;
}
button#documents{
	width: 7em;
}
button#home{
	margin-left:1.35em;
}	

div#contactInfo{
	float: left;
	text-align: left;

}
div#contactMe{

}
#email{
	padding-left:2em;
}
